@model IoTModel.Dispositivo

<div>
    @if (ViewBag.Sucesso != null)
    {
    <div class="alert alert-success">
        <strong>@ViewBag.Sucesso</strong>
    </div>
    }
    

    <h4>Detalhes do Dispositivo</h4>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @{ if (Model.Tipo == 0)
                {
                    @Html.DisplayName("Sensor");
                }
                else if (Model.Tipo == 1)
                {
                    @Html.DisplayName("Atuador");
                }

            }
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar nome", "AlterarDispositivo", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
