@model IEnumerable<IoTModel.Dispositivo>

<p>
    @Html.ActionLink("Novo Dispositivo", "IncluirDispositivo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @{ if(item.Tipo == 0)
                {
                    @Html.DisplayName("Sensor");
                }
                else if (item.Tipo == 1)
                {
                    @Html.DisplayName("Atuador");
                }

            }
                
        </td>
        <td>
            @Html.ActionLink("Alterar nome", "AlterarDispositivo", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "DetalheDispositivo", new { id = item.Id, }) |
        </td>
    </tr>
}

</table>
